@layer base {
  p {
    @apply text-[20px] leading-[32px] font-medium;
  }
  .embossed-text {
    @apply font-bold text-orange;
    text-shadow: 5px 5px 15px rgb(220 78 0 / 0.4),
    -2px -2px 5px rgba(255, 255, 255, 0.7);
  }
}
